* {
    padding:0;
    margin:0;
    box-sizing:border-box
}

body {
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.parent {
    width:500px;
    height:500px;
    display:grid;
    grid-template-areas:
    "header header header header"
    "aside main main main"
    "aside footer footer footer";
    gap:10px;
    font-weight:bold;
    color:rgb(97, 97, 97);
}

.parent > div {
    background-color:rgb(226, 222, 237);;
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
    border-radius:5px;
  }

#header {
    grid-area:header;
    text-align:left;
    width:200px;
    height:80px
}

#main {
    grid-area:main;
    width:1000px;
    height:1000px
}

#aside {
    grid-area:aside;
    width:300px;
    height:1000px
}

#footer {
    grid-area:footer
}