#p1 {
    color:rgb(255, 0, 0)
}

#p2 {
    color:rgb(0, 255, 0)
}

#p3 {
    color:rgb(0, 0, 255)
}

#p4 {
    color:rgb(255, 255, 0)
}

#p5 {
    color:rgb(0, 0, 0)
}

#p6 {
    color:#FF8000
}

#p7 {
    color:#7F00FF
}

#p8 {
    color:#FF33FF
}

#p9 {
    color:#A0A0A0
}

#p10 {
    color:#FFCC99
}