* {
    padding:0;
    margin:0;
    box-sizing:border-box;
}

body {
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    gap:10px
}

button {
    padding:10px;
    border:1px solid;
    border-radius:5px;
    font-weight:bold
}

button:hover {
    transform:scale(1.5);
    transition-duration: 1s;
}

#python_button {
    background-color:#fec008;
    color:#0277bc;
    border-color: #0277bc;
}

#javascript_button {
    background-color:yellow;
    border-color:black
}