:root {
    --gunmetal: #062630;
    --teal-green: #385159;
    --platinum: #E6E1DF;
    --snow: #FAF5F3;
    --white: #ffffff;
    --light-salmon-500: #FEA36F;
    --light-salmon-100: #FFF5EF;
    --light-salmon-50: #FFF5EF;
    --text-gradient: linear-gradient(107deg, #FF9A60 -11.37%, #062630 61.84%);
    --gradient: linear-gradient(90deg, #FFE2D1 0%, #FFF5EF 100%);

    /* fonts */
    --martian-mono: "Martian Mono", serif;
    --inter-serif: "Inter", serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*===================== Book club joining section styling =====================*/

.ultimate-tech__section {
    background-image: url(../assets/images/pattern-light-bg.svg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 3rem 8rem;
}

.ultimate-tech__section .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.book-club__heading {
    background: linear-gradient(107deg, #FF9A60 -11.37%, #062630 61.84%);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-size: 3.875rem;
    font-family: var(--martian-mono);
    font-weight: 600;
    width: 35.625rem;
}

.book-club__description {
    color: var(--teal-green);
    font-family: var(--inter-serif);
    font-size: 1.25rem;
    line-height: 2rem;
    width: 35.625rem;
}

.btn-member__options {
    border: 1px solid var(--teal-green);
    border-radius: 10px;
    color: var(--teal-green);
    font-family: var(--inter-serif);
    font-size: 1.25rem;
    font-weight: 600;
    cursor: pointer;
    padding: 1rem;
    text-transform: uppercase;
}

.btn-member__options:hover{
    background: linear-gradient(90deg, #FFE2D1 0%, #FFF5EF 100%);
}

.avatars-box {
    display: flex;
    align-items: center;
    margin-top: 1rem;
}

/* .icon-star {} */

.joined-description {
    color: var(--teal-green);
    font-family: var(--inter-serif);
    font-size: 0.875rem;
}

.image-hero {
    border-radius: 0.625rem;
    max-width: 100%;
}

/*======================= Book club styling ==========================*/

.read-grow__section {
    padding: 5rem 7rem;
}

.read-grow__section .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.image-read__together {
    border-radius: 0.625rem;
    max-width: 100%;
}

.read-and-grow__heading {
    color: var(--gunmetal);
    font-family: var(--martian-mono);
    font-size: 3.125rem;
    width: 33.125rem;
}

ul {
    list-style: none;
    margin-top: 3rem;
    font-size: 1.125rem;
}

li {
    margin-left: 1rem;
    color: var(--teal-green);
    font-family: var(--inter-serif);
    padding: 0.5rem 0;
}

.icon-check {
    position: relative;
    right: 1rem;
}

/*=======================/ Book club styling ==========================*/


/*======================= Average section ===============================*/
.club {
    padding: 5rem 7rem;
}

.club .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.club-heading {
    color: var(--gunmetal);
    font-size: 3.125rem;
    font-family: var(--martian-mono);
    width: 35rem;
    margin-bottom: 2rem;

}

.club-description {
    color: var(--teal-green);
    font-family: var(--inter-serif);
    line-height: 1.5rem;
    width: 28rem;
}

.book-club__img-3 {
    border-radius: 0.625rem;
    max-width: 100%;
}

/*======================= Average section ===============================*/

/*======================= Tech Journey section ==========================*/
.tech-journey__steps {
    padding: 3rem 22rem;
}

.journey-steps__container {
    background: url(../assets/images/pattern-light-bg.svg),
        linear-gradient(90deg, #FFE2D1 0%, #FFF5EF 100%);
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    border-radius: 0.625rem;
    max-width: 73.125rem;
    width: 100%;
    max-height: 454px;
    height: 28.376rem;
}

.tech-journey__heading {
    color: var(--gunmetal);
    text-align: center;
    font-family: var(--martian-mono);
    font-size: 3.125rem;
}

.journey-box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 5rem;
    margin-left: 2rem;
}

.member-box__steps {
    display: flex;
    justify-content: space-around;
    max-width: 226px;
    width: 100%
}

.jn__box {
    color: var(--teal-green);
    border: 1px solid var(--teal-green);
    width: 40px;
    text-align: center;
    font-weight: 500;
    font-family: var(--inter-serif);
    padding: 0.1rem;
}

.box-step__description {
    color: var(--gunmetal);
    font-family: var(--martian-mono);
    font-size: 1.125rem;
    font-weight: 600;
    width: 14.156rem;
}

/*======================= Tech Journey section ===============================*/

/* 
.journey-box__2 {}

.journey-box__3 {}

.journey-box__4 {} */

/*======================= Member Options section ===============================*/

.membership-subscription {
    padding: 5rem 7rem;
}

.membership-container {
    display: flex;
    flex-direction: column;
}

.membership-heading {
    color: var(--gunmetal);
    font-size: 3.125rem;
    font-family: var(--martian-mono);
    text-align: center;
}

.member-row {
    display: flex;
    justify-content: space-around;
    margin-top: 3rem;
}

/* start box with child elements */
.member-box__start {
    border: 1px solid var(--platinum);
    border-radius: 10px;
    padding: 2rem 2rem;
}

.member-box__start p:nth-child(1) {
    color: var(--gunmetal);
    font-size: 1.5rem;
    font-family: var(--martian-mono);
    font-weight: 600;
}

.member-box__start p:nth-child(2) {
    color: var(--gunmetal);
    font-size: 2.125rem;
    font-family: var(--martian-mono);
    font-weight: 600;
}

.member-box__start span {
    color: var(--teal-green);
    font-family: var(--inter-serif);
    font-size: 1.25rem;
    font-weight: 300;
}

.btn-member-1 {
    background-color: var(--light-salmon-50);
    cursor: pointer;
    color: var(--gunmetal);
    border: 2px solid var(--gunmetal);
    border-radius: 10px;
    font-family: var(--martian-mono);
    font-size: 1.125rem;
    font-weight: 500;
    padding: 1rem 3rem;
    text-transform: uppercase;
    position: relative;
    top: 1.7rem;
}

.btn-member-1:hover {
    background: linear-gradient(90deg, #FFE2D1 0%, #FFF5EF 100%);
}

/* start box with child elements */

/* pro box with child elements */
.member-box__pro {
    background: linear-gradient(to right, #f6f4f3 0%, #e3fcfc 100%);
    border: 1px solid var(--platinum);
    padding: 4rem 4rem;
}

.member-box__pro p:nth-child(1) {
    color: var(--gunmetal);
    font-size: 1.5rem;
    font-family: var(--martian-mono);
    font-weight: 600;
}

.member-box__pro p:nth-child(2) {
    color: var(--gunmetal);
    font-size: 2.125rem;
    font-family: var(--martian-mono);
    font-weight: 600;
}

.member-box__pro span {
    color: var(--teal-green);
    font-family: var(--inter-serif);
    font-size: 1.25rem;
    font-weight: 300;
}

.btn-subscribe {
    background-color: var(--light-salmon-50);
    color: var(--gunmetal);
    cursor: pointer;
    border: 2px solid var(--gunmetal);
    border-radius: 10px;
    font-family: var(--martian-mono);
    font-size: 1.125rem;
    font-weight: 500;
    padding: 1rem 4rem;
    text-transform: uppercase;
    position: relative;
    top: 1.7rem;
}

.btn-subscribe:hover {
    background: linear-gradient(90deg, #FFE2D1 0%, #FFF5EF 100%);
}

/* pro box with child elements */

/* enterprise box with child elements */
.member-box__enterprise {
    border: 1px solid var(--platinum);
    padding: 2rem 4rem;
}

.member-box__enterprise p:nth-child(1) {
    color: var(--gunmetal);
    font-size: 1.5rem;
    font-family: var(--martian-mono);
    font-weight: 600;
}

.member-box__enterprise p:nth-child(2) {
    color: var(--gunmetal);
    font-size: 1.5rem;
    font-family: var(--martian-mono);
    font-weight: 600;
    position: relative;
    top: 1.5rem;
}

.btn-enterrise__signup {
    background-color: var(--light-salmon-50);
    color: var(--gunmetal);
    cursor: pointer;
    border: 2px solid var(--gunmetal);
    border-radius: 10px;
    font-family: var(--martian-mono);
    font-size: 1.125rem;
    font-weight: 500;
    padding: 1rem 4rem;
    text-transform: uppercase;
    position: relative;
    top: 1.7rem;
}

.btn-enterrise__signup:hover {
    background: linear-gradient(90deg, #FFE2D1 0%, #FFF5EF 100%);
}

/* .icon-check {} */
/*======================= Member Options section ===============================*/

/*======================= Testimonial section ===============================*/

.testimonial {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.testimonial-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.testimonial-heading {
    color: var(--gunmetal);
    font-family: var(--martian-mono);
    font-size: 2.125rem;
    margin-bottom: 3rem;
    text-align: center;
    line-height: 3rem;
    width: 60.625rem;
}

.testimonial-name {
    color: var(--teal-green);
    font-family: var(--inter-serif);
    font-size: 1.25rem;
    text-align: center;
}

/* footer style section starts */
footer {
    background-image: url(../assets/images/pattern-dark-bg.svg);
    background-color: var(--gunmetal);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: 32.563rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.footer-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-heading {
    color: var(--light-salmon-50);
    font-size: 3.125rem;
    font-family: var(--martian-mono);
    text-align: center;
    margin-bottom: 2.5rem;
    width: 42.813rem;
}

.btn-footer {
    background: transparent;
    border: 1px solid var(--snow);
    border-radius: 5px;
    cursor: pointer;
    color: var(--snow);
    font-family: var(--martian-mono);
    font-size: 1.125rem;
    margin-bottom: 1.5rem;
    position: relative;
    left: 9rem;
    padding: 1.5rem 3rem;
    text-transform: uppercase;
}

.btn-footer:hover{
    background: linear-gradient(90deg, #385159, #062630);
}

.footer-testimonial__box-desc{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-line {
    background-color: var(--light-salmon-100);
    height: 3px;
    /* width: 75rem; */
}

.joined-description__footer{
    color: var(--white);
    font-family: var(--inter-serif);
}

.copyright {
    color: var(--white);
    font-family: var(--inter-serif);
}

.foot-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

svg:hover{
    cursor: pointer;
    fill: #FFF5EF;
}
/* footer style section ends */

/* Tablet styles */
@media(max-width: 64rem) {
    .ultimate-tech__section .row {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        /* align-items: center; */
    }

    .read-grow__section .row {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
    }

    .club .row {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .tech-journey__steps{
        display: none;
    }

    .member-row{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
            /* justify-content: space-around; */
    }

    .testimonial-heading{
        text-align: left;
        width: 44rem;
    }
}

@media(max-width: 48rem){
    .logo{
        padding: 1.5rem 0;
    }
    .ultimate-tech__section{
        padding: 0 1.5rem;
    }

    .avatars-box{
        margin-bottom: 3rem;
    }

    .book-club__heading{
        font-size: 2.375rem;
        margin-bottom: 1.5rem;
        width: 21.438rem;
    }

    .book-club__description{
        margin-bottom: 1.5rem;
        width: 21.438rem;
    }

    .read-grow__section{
        padding: 3rem 1.5rem;
    }

    .read-and-grow__heading{
        font-size: 2.125rem;
        width: 21.438rem;
    }

    .image-read__together{
        padding-top: 2.5rem;
    }

    .club{
        padding: 0 1.5rem;
    }

    .club-heading{
        font-size: 2.125rem;
        width: 21.438rem;
    }

    .club-description{
        width: 21.438rem;
    }

    .book-club__img-3{
        margin: 2rem 0 3.5rem 0;
    }

    /* Membership styling */
    .membership-subscription{
        padding: 0 1.5rem;
    }

    .member-row{
        grid-template-columns: repeat(1, 1fr);
    }

    .membership-heading{
        font-size: 2.125rem;
        text-align: left;
    }

    .member-box__start{
        padding: 2rem 2rem;
    }

    .member-box__pro{
        padding: 4rem 0rem;
    }

    .member-box__enterprise{
        padding: 2rem 0rem;
    }
    /* Membership styling */

    /* testimonial mobile styling */
    .testimonial-heading{
        font-size: 1.5rem;
        line-height: 2rem;
        width: 21.438rem;
    }

    /* footer styling */
    .footer-heading{
        font-size: 2.125rem;
        width: 21.438rem;
    }

    .footer-line{
        width: 23.438rem;
    }

    .btn-footer{
        padding: 1.5rem 0rem;
        left: 1rem;
    }

    .foot-nav{
        flex-direction: column;
    }
}