* {
    padding: 0;
    margin: 0;
    box-sizing: border-box
}

.parent {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(6, 1fr);
}

.child {
    border:white 5px solid;
}

#div-1 {
    background-color:rgb(1, 191, 165);
    width:330px;
    height:350px
}

#div-2 {
    grid-area:1/2/2/2;
    background-color:rgb(140, 110, 99);
    width:160px;
    height:120px;
}

#div-3 {
    grid-area:1/2/3/3;
    background-color:rgb(170, 0, 255);
    width:160px;
    height:120px;
    margin-left:160px
}

#div-4 {
    grid-area:1/2/3/3;
    background-color:rgb(0, 184, 212);
    width:160px;
    height:120px;
    margin-left:320px
}

#div-5 {
    grid-area:1/2/3/3;
    background-color:rgb(158, 158, 36);
    width:490px;
    height:120px;
    margin-left:480px
}

#div-6 {
    grid-area:2/2/1/2;
    background-color:rgb(214, 0, 0);
    width:160px;
    height:120px;
    margin-top:120px
}

#div-7 {
    grid-area:2/2/1/2;
    background-color:rgb(230, 238, 155);
    width:160px;
    height:120px;
    margin-top:120px;
    margin-left:160px
}

#div-8 {
    grid-area:2/2/1/2;
    background-color:white;
    width:369px;
    height:110px;
    margin-top:240px
}

#div-9 {
    grid-area:2/2/1/3;
    background-color:rgb(255, 113, 67);
    width:160px;
    height:230px;
    margin-left:320px;
    margin-top:120px
}

#div-10 {
    grid-area:2/2/1/3;
    background-color:rgb(221, 237, 200);
    width:160px;
    height:230px;
    margin-left:480px;
    margin-top:120px
}

#div-11 {
    grid-area:2/2/1/3;
    background-color:white;
    width:330px;
    height:230px;
    margin-left:640px;
    margin-top:120px
}

#div-12 {
    grid-area:2/1/3/3;
    background-color:rgb(0, 184, 212);
    width:480px;
    height:120px;
}

#div-13 {
    grid-area:2/2/3/3;
    background-color:rgb(118, 255, 2);
    width:170px;
    height:120px;
    margin-left:150px;
}

#div-14 {
    grid-area:2/2/3/3;
    background-color:rgb(98, 0, 233);
    width:160px;
    height:240px;
    margin-left:320px;
}

#div-15 {
    grid-area:2/2/3/3;
    background-color:rgb(255, 158, 129);
    width:320px;
    height:120px;
    margin-left:480px;
}

#div-16 {
    grid-area:2/2/3/3;
    background-color:rgb(130, 177, 255);
    width:170px;
    height:120px;
    margin-left:800px;
}

#div-17 {
    grid-area:2/1/3/3;
    background-color:rgb(207, 147, 217);
    width:160px;
    height:120px;
    margin-top:120px
}

#div-18 {
    grid-area:2/1/3/3;
    background-color:rgb(207, 216, 221);
    width:320px;
    height:120px;
    margin-top:120px;
    margin-left:160px
}

#div-19 {
    grid-area:2/1/3/3;
    background-color:rgb(0, 152, 166);
    width:170px;
    height:120px;
    margin-top:120px;
    margin-left:480px
}

#div-20 {
    grid-area:2/2/3/3;
    background-color:rgb(221, 231, 118);
    width:160px;
    height:120px;
    margin-top:120px;
    margin-left:480px
}

#div-21 {
    grid-area:2/2/3/3;
    background-color:rgb(229, 115, 115);
    width:160px;
    height:120px;
    margin-top:120px;
    margin-left:640px
}

#div-22 {
    grid-area:2/2/4/3;
    background-color:rgb(42, 98, 255);
    width:170px;
    height:240px;
    margin-top:120px;
    margin-left:799px
}

#div-23 {
    grid-area:2/1/4/3;
    background-color:rgb(217, 26, 96);
    width:160px;
    height:120px;
    margin-top:240px;
}

#div-24 {
    grid-area:2/1/4/3;
    background-color:rgb(228, 242, 253);
    width:160px;
    height:120px;
    margin-top:240px;
    margin-left:160px;
}

#div-25 {
    grid-area:2/1/4/3;
    background-color:rgb(101, 59, 185);
    width:160px;
    height:120px;
    margin-top:240px;
    margin-left:320px;
}

#div-26 {
    grid-area:2/2/4/3;
    background-color:rgb(229, 116, 112);
    width:329px;
    height:120px;
    margin-top:240px;
    margin-left:150px;
}

#div-27 {
    grid-area:2/2/4/3;
    background-color:rgb(254, 111, 0);
    width:160px;
    height:120px;
    margin-top:240px;
    margin-left:479px;
}

#div-28 {
    grid-area:2/2/4/3;
    background-color:rgb(28, 94, 32);
    width:160px;
    height:120px;
    margin-top:240px;
    margin-left:639px;
}


