h1 {
    color:green;
    background-color:lightgreen;
    text-align:center
}

a:link {
    color:green;
    background-color:lightgreen;
    font-size:x-large;
    text-decoration: underline green;
}

a:hover {
    color:lightgreen;
    background-color:green;
    text-decoration: underline lightgreen;
}

a:active {
    color:green;
    background-color:darkgreen;
    text-decoration: underline green;
}