* {
    padding:0;
    margin:0;
    box-sizing:border-box
}

html {
    background-color:rgb(35, 35, 35);
    display:flex;
    justify-content:center;
    align-items:center
}

i {
    color:white;
    font-size:20px
}

.parent {
    border: 3px solid rgb(54, 54, 54);
    border-radius:5px
}

.child {
    height:600px;
    width:500px
}

.child2 {
    height:400px;
    width:300px
}

h1 {
    display:flex;
    justify-content:center;
}