* {
    padding:0;
    margin:0;
    box-sizing:border-box;
}

body {
    height:100vh
}

div {
    background-color:purple;
    width:200px;
    height:200px;
    position:absolute;
    bottom:150px;
    right:0px
}