label {
    font-weight:bold;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:darkblue;
    text-shadow: 2px 1px 2px black;
}

input {
    border-radius:10px;
    border-style:solid;
    border-color:black;
    padding:5px
}

button {
    background-color:darkblue;
    color:gray;
    border:none;
    border-radius:5px;
    padding:5px;
    padding-right:30px;
    padding-left:30px;
    margin-left:38px;
}

button:hover {
    background-color:blue;
    color:white;
}

button:active {
    background-color:lightblue;
    color:blue;
}