div h1 {
    color:red
}

div h2 {
    color:orange
}

div h3 {
    color:yellow
}

div p {
    color:green
}

div b {
    color:blue
}

div i {
    color:indigo
}

div button {
    background-color:violet
}