table, th, td {
    border: 1px solid;
  }

  :nth-child(3) {
    background-color: orange;
  }

  :nth-child(4) {
    background-color: green;
  }

  :nth-child(5) {
    background-color: red;
  }