* {
    padding:0;
    margin:0;
    box-sizing:border-box
}

body {
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center
}

#loading {
    width:100px;
    height:100px;
    background-color:white;
    border-radius:50px;
    border: 15px solid rgb(225, 91, 100);
    border-top: 15px solid white;
    animation:spin 2s linear infinite
}

@keyframes spin {
    0% {
        transform:rotate(0deg) 
    }
    100% {
        transform:rotate(600deg)
    }
}