* {
    padding:0;
    margin:0;
    box-sizing:border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#parent {
    display:grid;
    grid-template-rows: repeat(4, 1fr);
}

.div-1 {
    background-color:hsl(256, 67%, 59%);
    color:white
}

.div-2 {
    background-color:hsl(31, 66%, 93%)
}

.div-3 {
    background-color:hsl(39, 100%, 71%)
}

.div-4 {
    background-color:hsl(254, 88%, 90%)
}

.div-5 {
    background-color:hsl(256, 67%, 59%);
    color:white
}

.div-6 {
    background-color:hsl(31, 66%, 93%)
}

.div-7 {
    background-color:hsl(31, 66%, 93%)
}

.div-8 {
    background-color:hsl(39, 100%, 71%)
}

