#maindiv {
    padding:100px;
    background-color:red
}

#div1 {
    padding:50px;
    background-color:orange
}

#div2 {
    padding:50px;
    background-color:yellow
}

#div3 {
    padding:50px;
    background-color:green
}

#div4 {
    padding:50px;
    background-color:blue
}

#div5 {
    padding:50px;
    background-color:purple
}