* {
    padding:0;
    margin:0;
    box-sizing:border-box
}

body {
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center
}

#parent {
    width:380px;
    height:380px;
    background-color:rgb(64, 106, 227);
    border:none
}

#circle-top{
    width:100px;
    height:100px;
    background-color:rgb(224, 185, 135);
    border-radius:50px;
    margin-left:140px;
    animation:move-top linear 4s infinite
}

@keyframes move-top {
    0%{
        transform:translateY(0px)
    }

    100% {
        transform:translateY(285px)
    }
}