* {
    padding:0;
    margin:0;
    box-sizing:border-box;
}

div {
    width:100px;
    height:100px;
    background-color:skyblue;
    border:2px solid black;
    transition: all 1s
}

#div-1:hover {
    cursor:pointer;
    transform:translate(10px)
}

#div-2:hover {
    cursor:pointer;
    transform:scale(0.5)
}

#div-3:hover {
    cursor:pointer;
    transform:skew(10deg)
}

#div-4:hover {
    cursor:pointer;
    transform:rotate(10deg)
}